<mat-nav-list>
  <h3 mat-subheader>Projects</h3>
  <mat-list-item [routerLink]="['/project']">
      <mat-icon  matListIcon svgIcon="projects"></mat-icon>
      <span matLine>Project</span>
      <span matLine matSubheader>looking all the projects</span>

  </mat-list-item>

  <h3 mat-subheader>Calendar</h3>

  <mat-list-item [routerLink]="['/tasklist']">
   <mat-icon  matListIcon svgIcon="month"></mat-icon>
      <span matLine>Month</span>
      <span matLine matSubheader>looking all the projects monthly</span>
  </mat-list-item>
  <mat-list-item>
      <mat-icon  matListIcon svgIcon="week"></mat-icon>
      <span matLine>Week</span>
      <span matLine matSubheader>looking all the projects weekly</span>
    </mat-list-item>
  <mat-list-item>
      <mat-icon  matListIcon [svgIcon]="today"></mat-icon>
      <span matLine>Day</span>
      <span matLine matSubheader>looking all the projects daily</span>
  </mat-list-item>
</mat-nav-list>
