<form>
<mat-card>
  <mat-card-header>
    <mat-card-title>Login:</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <input class="full-width" matInput type="text" placeholder="Email"/>
    </mat-form-field>
    <mat-form-field>
        <input class="full-width" matInput type="password" placeholder="Password"/>
      </mat-form-field>
      <button class="full-width" mat-raised-button>Login In</button>
  </mat-card-content>
  <mat-card-actions>
    <p>Haven't register?<a href="">Sign Up</a></p>
    <p>Forget password?<a href="">Find back</a></p>
  </mat-card-actions>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      Every Memo
    </mat-card-title>
    <mat-card-subtitle>
      see cat a day, making the day happy
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../../assets/fatcatthumb.jpg" alt="cat">
  <mat-card-content>
    happy!
  </mat-card-content>
</mat-card>
</form>